@charset "UTF-8";

header{
	height:50px;
	background-color:#c0c0c0;
	display: flex;
	align-items: center;
}

header nav {
	margin-left: auto;
}

header ul {
	display: flex;
	list-style:none;
}

header ul li {
	margin-left: 20px;
}


